.map-and-text {
	margin-bottom: 45px;
	.wrapper {
		.general-map {
			display: flex;
			justify-content: space-between;
			.text-map {
				width: 100%;
				max-width: 560px;
				.title-text {
					margin-bottom: 30px;
					font-weight: 400;
					font-size: 16px;
					line-height: 140%;
					color: #000000;
					@include SourceCodePro();
				}
				.del-goods {
					text-align: center;
					font-weight: 600;
					font-size: 16px;
					line-height: 140%;
					color: #ffffff;
					background-color: #ddae5f;
					border-radius: 2px;
					padding: 2px 4px;
					max-width: 380px;
					width: 100%;
					margin-bottom: 15px;
				}
				span {
					display: block;
					font-weight: 600;
					font-size: 20px;
					line-height: 25px;
					color: #000000;
					margin-bottom: 20px;
					@include SourceCodePro();
					&:not(:last-child) {
						margin-top: 30px;
					}
				}
				p {
					font-weight: 300;
					font-size: 16px;
					line-height: 140%;
					margin-bottom: 20px;
				}
			}
		}
	}
}
