.questions {
	.wrapper {
		.questions-answers {
			.text-questions {
				&.active {
					.answers-1 {
						padding: 20px;
						max-height: 300px;
						transition: $transition;
						padding-top: 0;
					}
					.questions-1 {
						&::after {
							content: "";
							width: 2px;
							height: 25px;
							background-color: #181d31;
							top: 50%;
							right: 11px;
							transform: translateX(0) translateY(-50%);
							position: absolute;
							transition: $transition;
							transform: rotate(90deg);
							top: calc(50% - 12px);
						}
					}
				}
				.questions-1 {
					cursor: pointer;
					position: relative;
					display: flex;
					align-items: center;
					padding-left: 20px;
					position: relative;
					border-top: 1px solid #c4c4c4;
					padding-top: 30px;
					padding-bottom: 30px;
					width: 100%;
					max-width: 1090px;
					margin: 0 auto;
					&::before {
						content: "";
						width: 25px;
						height: 2px;
						background-color: #181d31;
						top: 50%;
						right: 0;
						transform: translateX(0) translateY(-50%);
						position: absolute;
						transition: $transition;
					}
					&::after {
						content: "";
						width: 2px;
						height: 25px;
						background-color: #181d31;
						top: 50%;
						right: 11px;
						transform: translateX(0) translateY(-50%);
						position: absolute;
						transition: $transition;
					}
					p {
						font-weight: 600;
						font-size: 16px;
						line-height: 150%;
						color: #4b4b4b;
					}
				}
				.answers-1 {
					font-size: 16px;
					line-height: 24px;
					color: #18171c;
					padding: 0 20px;
					max-height: 0;
					transition: $transition;
					overflow: hidden;
					width: 100%;
					max-width: 1090px;
					margin: 0 auto;
					p {
						font-weight: 400;
						font-size: 16px;
						line-height: 150%;
						color: #4b4b4b;
					}
				}
			}
		}
	}
}



@media (max-width: 480px) {
	.questions .wrapper .questions-answers .text-questions .questions-1 p {
		line-height: 140%;
		color: #181d31;
		padding-top: 0;
	}
	.questions .wrapper .questions-answers .text-questions .answers-1 p {
		font-weight: 300;
		font-size: 14px;
		line-height: 140%;
		color: #181D31;
	}
}
