@charset "UTF-8";
/* Arrows */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600&display=swap");
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:active, a:hover {
  outline: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: 0;
}

img, audio, video {
  max-width: 100%;
  height: auto;
}

audio, canvas, iframe, video, img, svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
}

body a {
  font-family: "Source Code Pro", monospace;
  color: black;
}

.wrapper {
  max-width: 1199px;
  margin: 0 auto;
}

header .main-color {
  background-color: #ddae5f;
}

header .main-color .wrapper .sale {
  padding: 10px 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: "Source Code Pro", monospace;
}

header .main-color .wrapper .sale span {
  background: #f67b83;
  border-radius: 8px;
  padding: 3px 5px;
  font-family: "Source Code Pro", monospace;
}

header .header-menu {
  -webkit-box-shadow: 0px 0px 20px rgba(116, 119, 142, 0.25);
          box-shadow: 0px 0px 20px rgba(116, 119, 142, 0.25);
}

header .header-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

header .header-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-menu .menu ul li:not(:last-child) {
  padding-right: 43px;
}

header .header-menu .menu ul li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  font-family: "Source Code Pro", monospace;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header .header-menu .menu ul li a:hover {
  color: #ddae5f;
}

header .header-menu .menu .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-menu .menu .form form {
  position: relative;
  margin-right: 25px;
}

header .header-menu .menu .form form input {
  padding: 10px 225px 10px 15px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #f6f6f6;
  border-radius: 10px;
  font-family: "Source Code Pro", monospace;
}

header .header-menu .menu .form .basket {
  position: relative;
}

header .header-menu .menu .form .basket .circle {
  top: 2px;
  right: 1px;
  position: absolute;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #ddae5f;
}

.banner {
  margin-bottom: 60px;
}

.banner .wrapper .banner-img img {
  height: 521px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
}

.group {
  margin-bottom: 60px;
}

.group .wrapper .panel {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.96);
  font-family: "Source Code Pro", monospace;
  margin-bottom: 40px;
}

.group .wrapper .block .cards {
  margin-right: -7px;
  margin-left: -7px;
}

.group .wrapper .block .cards .slide {
  margin-right: 7px;
  margin-left: 7px;
}

.group .wrapper .block .cards .card {
  width: 225px;
  height: 285px;
  text-align: center;
  position: relative;
}

.group .wrapper .block .cards .card:hover .text {
  color: #a3b6bb;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.group .wrapper .block .cards .card:hover span {
  color: #a3b6bb;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.group .wrapper .block .cards .card ul .discount {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  position: absolute;
  padding: 3px 8px;
  background-color: #f67b83;
  border-radius: 7px;
  color: #eee;
  left: 12px;
  top: 12px;
  font-family: "Source Code Pro", monospace;
}

.group .wrapper .block .cards .card ul .two {
  background: #9cb890;
  border-radius: 7px;
}

.group .wrapper .block .cards .card .pannel-images img {
  width: 225px;
  height: 225px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.group .wrapper .block .cards .card .text {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 5px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Source Code Pro", monospace;
}

.group .wrapper .block .cards .card span {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Source Code Pro", monospace;
}

.orders {
  margin-bottom: 60px;
}

.orders .wrapper .order {
  padding: 40px 0;
  background: #f6f6f6;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orders .wrapper .order .order-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.96);
  margin-bottom: 20px;
  font-family: "Source Code Pro", monospace;
}

.orders .wrapper .order p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 100%;
  max-width: 553px;
  margin-bottom: 32px;
  font-family: "Source Code Pro", monospace;
}

.orders .wrapper .order button {
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 60px;
  background-color: #a3b6bb;
  border: 2px solid #a3b6bb;
  color: rgba(255, 255, 255, 0.96);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Source Code Pro", monospace;
}

.orders .wrapper .order button:hover {
  border: 2px solid #a3b6bb;
  background-color: #f6f6f6;
  color: #a3b6bb;
}

.categories {
  margin-bottom: 60px;
}

.categories .wrapper .category-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.96);
  text-align: center;
  margin-bottom: 50px;
  font-family: "Source Code Pro", monospace;
}

.categories .wrapper .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories .wrapper .category .block-category {
  width: 102px;
  height: 140px;
}

.categories .wrapper .category .block-category:not(:last-child) {
  margin-right: 20px;
}

.categories .wrapper .category .block-category a {
  display: inline-block;
}

.categories .wrapper .category .block-category a:hover .text {
  color: #a3b6bb;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.categories .wrapper .category .block-category a .category-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}

.categories .wrapper .category .block-category a .text {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Source Code Pro", monospace;
}

.menu-des {
  background-color: #a3b6bb;
  padding: 60px 0 50px 0;
}

.menu-des .wrapper .footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 67px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-des .wrapper .footer-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-des .wrapper .footer-block ul li:not(:last-child) {
  margin-right: 30px;
}

.menu-des .wrapper .footer-block ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.menu-des .wrapper .footer-block ul li a:hover {
  color: #000000;
}

.menu-des .wrapper .footer-block .soc-seti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-des .wrapper .footer-block .soc-seti .seti {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.menu-des .wrapper .footer-block .soc-seti .seti:not(:last-child) {
  margin-right: 12px;
}

.menu-des .wrapper .footer-block .soc-seti .seti:hover a svg fill {
  background-color: #000;
}

.menu-des .wrapper .phone {
  text-align: center;
}

.menu-des .wrapper .phone a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Source Code Pro", monospace;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.menu-des .wrapper .phone a img {
  margin-right: 12px;
}

.menu-des .wrapper .phone a:hover {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1024px) {
  .group .wrapper .block .cards .card .pannel-images img {
    width: 200px;
    height: 200px;
  }
  .group {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .banner .wrapper .banner-img img {
    height: 360px;
  }
  header .header-menu .menu .form form input {
    padding: 5px 18px 5px 15px;
  }
  header .header-menu .menu ul li:not(:last-child) {
    padding-right: 30px;
  }
  .group .wrapper .block .cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .group .wrapper .panel {
    font-size: 30px;
  }
  header .header-menu .menu ul li a {
    font-size: 18px;
  }
  .menu-des .wrapper .footer-block ul li:not(:last-child) {
    margin-right: 13px;
  }
  .menu-des .wrapper .footer-block ul li a {
    font-size: 15px;
  }
  .menu-des .wrapper .footer-block {
    margin-bottom: 30px;
  }
  .menu-des {
    background-color: #a3b6bb;
    padding: 50px 0 40px 0;
  }
}

@media (max-width: 480px) {
  header .header-menu {
    display: none;
  }
  header .main-color .wrapper .sale {
    padding: 6px 15px;
  }
  .banner-img {
    text-align: center;
  }
  .banner .wrapper .banner-img img {
    width: 100%;
    max-width: 480px;
    height: 263px;
    border-radius: 10px;
  }
  .group .wrapper .block .cards {
    display: contents;
  }
  .group .wrapper .block .cards .card .slide {
    width: 100%;
    display: inline-block;
  }
  .group .wrapper .block .cards .card .pannel-images img {
    width: 165px;
    height: 165px;
  }
  .group .wrapper .block .cards .card {
    width: 165px;
    display: inline-block;
  }
  .group .wrapper .block .cards .slide {
    margin: 0 auto;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding-right: 7px;
    padding-left: 7px;
  }
  .group .wrapper .block .cards .card .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  .group .wrapper .block .cards .card span {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
  }
  .categories {
    display: none;
  }
  .orders {
    margin-bottom: 50px;
  }
  .orders .wrapper .order {
    width: 330px;
    margin: 0 auto;
    padding: 25px 15px;
  }
  .menu-des .wrapper .footer-block {
    display: block;
    text-align: center;
  }
  .menu-des .wrapper .footer-block ul {
    display: block;
    margin-bottom: 40px;
  }
  .menu-des .wrapper .footer-block ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .menu-des .wrapper .footer-block ul li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .menu-des {
    border-radius: 8px;
    max-width: 467px;
  }
  .footer-logo {
    margin-top: 40px;
    margin-bottom: 35px;
  }
  .menu-des .wrapper .footer-block .soc-seti {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.categories-pay {
  background: #f6f6f6;
  border-radius: 20px;
  padding: 40px 0 50px 0;
}

.list {
  margin-top: 50px;
  margin-bottom: 60px;
}

.list .wrapper .text {
  text-align: center;
  margin-bottom: 12px;
  padding-left: 30px;
}

.list .wrapper .text a {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}

.list .wrapper .text a:hover {
  text-decoration: none;
  color: #a3b6bb;
}

.list .wrapper .pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list .wrapper .pay .home {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #000;
  font-family: "Source Code Pro", monospace;
}

.pay-blocks {
  margin-bottom: 90px;
}

.pay-blocks .wrapper .pay-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pay-blocks .wrapper .pay-blok .image-pay {
  width: 590px;
  height: 355px;
}

.pay-blocks .wrapper .pay-blok .pay-text {
  margin-left: 50px;
}

.pay-blocks .wrapper .pay-blok .pay-text .choice-pay {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-left: -25px;
  margin-bottom: 30px;
  font-family: "Source Code Pro", monospace;
}

.pay-blocks .wrapper .pay-blok .pay-text .title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  padding-bottom: 30px;
  font-family: "Source Code Pro", monospace;
}

.pay-blocks .wrapper .pay-blok .pay-text p {
  width: 100%;
  max-width: 450px;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  font-family: "Source Code Pro", monospace;
}

.pay-blocks .wrapper .pay-blok .pay-text p:not(:last-child) {
  margin-bottom: 30px;
}

.pay-blocks .wrapper .pay-blok .pay-text .bank-card {
  margin-top: -15px;
}

.map-and-text {
  margin-bottom: 65px;
}

.map-and-text .wrapper .general-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-and-text .wrapper .general-map .text-map {
  width: 100%;
  max-width: 560px;
}

.map-and-text .wrapper .general-map .text-map .title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 30px;
  width: 515px;
  font-family: "Source Code Pro", monospace;
}

.map-and-text .wrapper .general-map .text-map .del-goods {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  background-color: #DDAE5F;
  border-radius: 2px;
  padding: 2px 4px;
  width: 357px;
  margin-bottom: 15px;
}

.map-and-text .wrapper .general-map .text-map span {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Source Code Pro", monospace;
}

.map-and-text .wrapper .general-map .text-map p {
  margin-bottom: 30px;
}

.about-us {
  margin-bottom: 65px;
}

.about-us .wrapper .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .wrapper .component .text-about {
  width: 100%;
  max-width: 560px;
}

.about-us .wrapper .component .text-about span {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Source Code Pro", monospace;
}

.about-us .wrapper .component .text-about p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  font-family: "Source Code Pro", monospace;
}

.about-us .wrapper .component .text-about p:not(:last-child) {
  margin-bottom: 30px;
}

.about-us .wrapper .component .about-img img {
  width: 577px;
  height: 445px;
}

.contacts {
  margin-bottom: 155px;
}

.contacts .wrapper .block-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .wrapper .block-contact .text-block {
  margin-left: 35px;
}

.contacts .wrapper .block-contact .text-block .text-cont {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #000000;
  font-family: "Source Code Pro", monospace;
}

.contacts .wrapper .block-contact .text-block .graphic {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Source Code Pro", monospace;
}

.contacts .wrapper .block-contact .text-block p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 20px;
  font-family: "Source Code Pro", monospace;
}

.contacts .wrapper .block-contact .text-block .link {
  margin-bottom: 10px;
}

.contacts .wrapper .block-contact .text-block .link a {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  font-family: "Source Code Pro", monospace;
}

.contacts .wrapper .block-contact .text-block .link a:not(:last-child) {
  margin-bottom: 10px;
}

.contacts .wrapper .block-contact .text-block .link a:hover {
  text-decoration: underline;
}

.contacts .wrapper .block-contact .text-block .guests {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  background-color: #DDAE5F;
  border-radius: 2px;
  padding: 2px 4px;
  width: 185px;
  margin-top: 15px;
}

.questions .wrapper .questions-answers .text-questions {
  width: 940px;
}

.questions .wrapper .questions-answers .text-questions.active .answers-1 {
  padding: 20px;
  max-height: 300px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.questions .wrapper .questions-answers .text-questions .questions-1 {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 10px;
  position: relative;
}

.questions .wrapper .questions-answers .text-questions .questions-1 p {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #4B4B4B;
  margin-bottom: 20px;
}

.questions .wrapper .questions-answers .text-questions .answers-1 {
  font-size: 16px;
  line-height: 24px;
  color: #18171c;
  padding: 0 20px;
  max-height: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  overflow: hidden;
}

.questions .wrapper .questions-answers .text-questions .answers-1 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4b4b4b;
}

.cards-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-panel .card {
  margin-bottom: 60px;
}

.cards-panel button {
  cursor: pointer;
  margin: 0 auto;
  padding: 15px 60px;
  background-color: #a3b6bb;
  border: 2px solid #a3b6bb;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Source Code Pro", monospace;
}

.cards-panel button:hover {
  border: 2px solid #a3b6bb;
  background-color: #f6f6f6;
  color: #a3b6bb;
}

.info {
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  max-width: 800px;
  font-family: "Source Code Pro", monospace;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.catalog-block .catalog {
  width: 100%;
  max-width: 960px;
}

.catalog-block .catalog .btn {
  margin-left: 245px;
}

.catalog-block .catalog-left .catalog-top {
  margin-bottom: 25px;
}

.catalog-block .catalog-left .catalog-top .sorting {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ddae5f;
  margin-bottom: 15px;
  border-top: 1px solid #ddae5f;
  width: 195px;
  padding-top: 20px;
}

.catalog-block .catalog-left .catalog-top ul li {
  position: relative;
  margin-bottom: 8px;
}

.catalog-block .catalog-left .catalog-top ul li:before {
  position: absolute;
  border: 2px solid #ddae5f;
}

.catalog-block .catalog-left .catalog-top ul li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.catalog-block .catalog-left .catalog-top ul li a:hover {
  color: #ddae5f;
}

.catalog-block .catalog-left .catalog-button .sorting {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ddae5f;
  margin-bottom: 15px;
  border-top: 1px solid #ddae5f;
  width: 195px;
  padding-top: 20px;
}

.catalog-block .catalog-left .catalog-button ul li {
  position: relative;
  margin-bottom: 8px;
}

.catalog-block .catalog-left .catalog-button ul li:before {
  position: absolute;
  border: 2px solid #ddae5f;
}

.catalog-block .catalog-left .catalog-button ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.catalog-block .catalog-left .catalog-button ul li a:hover {
  color: #ddae5f;
}
